apiVersion: v1
kind: Config
clusters:
- name: "hahn062"
  cluster:
    server: "https://gevalia.rnd.gic.ericsson.se/k8s/clusters/c-dclhb"

users:
- name: "hahn062"
  user:
    token: "kubeconfig-u-re7ywb4aao:xm6r4phk9nfbg2gqx6nct5wdz6zf6fvrkwhbrg2d8s77hjvtrx7fpl"


contexts:
- name: "hahn062"
  context:
    user: "hahn062"
    cluster: "hahn062"

current-context: "hahn062"
