apiVersion: v1
kind: Config
clusters:
- name: "default"
  cluster:
    certificate-authority-data: "<CA_CERT_FILE>"
    server: "<MASTER_URL>"

users:
- name: "default"
  user:
    token: "<TOKEN>"

contexts:
- name: "default"
  context:
    user: "default"
    cluster: "default"

current-context: "default"