<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ~ COPYRIGHT Ericsson 2024
 ~
 ~
 ~
 ~ The copyright to the computer program(s) herein is the property of
 ~
 ~ Ericsson Inc. The programs may be used and/or copied only with written
 ~
 ~ permission from Ericsson Inc. or in accordance with the terms and
 ~
 ~ conditions stipulated in the agreement/contract under which the
 ~
 ~ program(s) have been supplied.
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
           font-family: Arial, Helvetica, sans-serif;
           background-color: rgb(242,242,242);
        }
    </style>
</head>
<body>
<div style="position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -100px;">
    <h2>[(${status})] [(${error})]</h2>

    <div>The server encountered an error.</div>
    <div>Please try again later or contact system administrator.</div>
</div>
</body>
</html>